# Игнорировать файлы конфигурации Editor
.editorconfig

# Игнорировать файлы настроек Visual Studio Code
.vscode/

# Игнорировать файлы зависимостей
**/node_modules/

# Игнорировать локальные настройки npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать файлы сгенерированных исходных кодов
**/build/
**/dist/

# Игнорировать файлы конфигурации npm
package-lock.json
yarn.lock

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать файлы системы оперативной памяти
*.pnp.js
.pnp.js

# Игнорировать временные файлы созданные редакторами
*~
